/* Definirea variabilelor de culori */
:root {
    --primary-dark: #27005D;
    --primary-light: #9400FF;
    --secondary-light: #AED2FF;
    --secondary-bg: #E4F1FF;
    --hover-scale: 1.15;
}

/* Fontul global */
* {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

/* Scrollbar hidden */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* For Firefox */
html {
    scrollbar-width: none;
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: none;
}

/* General Styles */
body {
    margin: 0;
    background-image: url('wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--secondary-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 1s ease forwards;
}

/* Smooth fade-in for body */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Cursor Customization */
.custom-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-light);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

body:hover .custom-cursor {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

/* Background Animation */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #230052;
    overflow: hidden;
}

.background span {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 33;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #9400ff;
    top: 7%;
    left: 33%;
    animation-duration: 141s;
    animation-delay: -137s;
    transform-origin: 9vw 25vh;
    box-shadow: -28vmin 0 3.9230227740994295vmin currentColor;
}
.background span:nth-child(1) {
    color: #9400ff;
    top: 59%;
    left: 35%;
    animation-duration: 158s;
    animation-delay: -90s;
    transform-origin: -20vw 23vh;
    box-shadow: 28vmin 0 4.123611150488195vmin currentColor;
}
.background span:nth-child(2) {
    color: #b2d2ff;
    top: 37%;
    left: 88%;
    animation-duration: 10s;
    animation-delay: -42s;
    transform-origin: 6vw 24vh;
    box-shadow: 28vmin 0 4.346059767818749vmin currentColor;
}
.background span:nth-child(3) {
    color: #b2d2ff;
    top: 4%;
    left: 59%;
    animation-duration: 76s;
    animation-delay: -110s;
    transform-origin: -20vw 2vh;
    box-shadow: -28vmin 0 3.6984706740382216vmin currentColor;
}
.background span:nth-child(4) {
    color: #e4f1ff;
    top: 69%;
    left: 7%;
    animation-duration: 88s;
    animation-delay: -105s;
    transform-origin: -6vw 4vh;
    box-shadow: -28vmin 0 3.9581096790543895vmin currentColor;
}
.background span:nth-child(5) {
    color: #e4f1ff;
    top: 54%;
    left: 67%;
    animation-duration: 58s;
    animation-delay: -158s;
    transform-origin: 24vw 9vh;
    box-shadow: 28vmin 0 3.5906708558573173vmin currentColor;
}
.background span:nth-child(6) {
    color: #b2d2ff;
    top: 6%;
    left: 82%;
    animation-duration: 137s;
    animation-delay: -58s;
    transform-origin: 25vw -21vh;
    box-shadow: 28vmin 0 3.9044706268746827vmin currentColor;
}
.background span:nth-child(7) {
    color: #b2d2ff;
    top: 18%;
    left: 39%;
    animation-duration: 10s;
    animation-delay: -13s;
    transform-origin: 11vw 25vh;
    box-shadow: -28vmin 0 4.33363433167747vmin currentColor;
}
.background span:nth-child(8) {
    color: #9400ff;
    top: 9%;
    left: 71%;
    animation-duration: 68s;
    animation-delay: -118s;
    transform-origin: 25vw 23vh;
    box-shadow: -28vmin 0 3.677664059159251vmin currentColor;
}
.background span:nth-child(9) {
    color: #b2d2ff;
    top: 26%;
    left: 24%;
    animation-duration: 45s;
    animation-delay: -57s;
    transform-origin: -14vw -12vh;
    box-shadow: 28vmin 0 3.999242479829518vmin currentColor;
}
.background span:nth-child(10) {
    color: #9400ff;
    top: 59%;
    left: 18%;
    animation-duration: 38s;
    animation-delay: -164s;
    transform-origin: 6vw -17vh;
    box-shadow: 28vmin 0 3.508716073094863vmin currentColor;
}
.background span:nth-child(11) {
    color: #b2d2ff;
    top: 62%;
    left: 13%;
    animation-duration: 63s;
    animation-delay: -55s;
    transform-origin: -16vw -7vh;
    box-shadow: 28vmin 0 4.157556276953739vmin currentColor;
}
.background span:nth-child(12) {
    color: #e4f1ff;
    top: 1%;
    left: 8%;
    animation-duration: 131s;
    animation-delay: -120s;
    transform-origin: 11vw 13vh;
    box-shadow: -28vmin 0 4.350995976744295vmin currentColor;
}
.background span:nth-child(13) {
    color: #b2d2ff;
    top: 21%;
    left: 59%;
    animation-duration: 60s;
    animation-delay: -45s;
    transform-origin: 9vw 4vh;
    box-shadow: -28vmin 0 3.696730024534275vmin currentColor;
}
.background span:nth-child(14) {
    color: #e4f1ff;
    top: 61%;
    left: 46%;
    animation-duration: 22s;
    animation-delay: -81s;
    transform-origin: -22vw 22vh;
    box-shadow: 28vmin 0 3.573316688449833vmin currentColor;
}
.background span:nth-child(15) {
    color: #e4f1ff;
    top: 65%;
    left: 12%;
    animation-duration: 51s;
    animation-delay: -42s;
    transform-origin: -20vw 18vh;
    box-shadow: -28vmin 0 4.079667729602766vmin currentColor;
}
.background span:nth-child(16) {
    color: #e4f1ff;
    top: 41%;
    left: 41%;
    animation-duration: 173s;
    animation-delay: -68s;
    transform-origin: -7vw 5vh;
    box-shadow: -28vmin 0 3.682774768176917vmin currentColor;
}
.background span:nth-child(17) {
    color: #9400ff;
    top: 28%;
    left: 85%;
    animation-duration: 127s;
    animation-delay: -62s;
    transform-origin: -24vw -6vh;
    box-shadow: 28vmin 0 4.445249399095541vmin currentColor;
}
.background span:nth-child(18) {
    color: #e4f1ff;
    top: 76%;
    left: 1%;
    animation-duration: 174s;
    animation-delay: -94s;
    transform-origin: -24vw -4vh;
    box-shadow: -28vmin 0 4.19528482441457vmin currentColor;
}
.background span:nth-child(19) {
    color: #9400ff;
    top: 16%;
    left: 28%;
    animation-duration: 77s;
    animation-delay: -117s;
    transform-origin: 0vw -13vh;
    box-shadow: -28vmin 0 4.0923584505197095vmin currentColor;
}
.background span:nth-child(20) {
    color: #9400ff;
    top: 86%;
    left: 16%;
    animation-duration: 34s;
    animation-delay: -76s;
    transform-origin: 5vw 17vh;
    box-shadow: 28vmin 0 3.8585331570093464vmin currentColor;
}
.background span:nth-child(21) {
    color: #9400ff;
    top: 27%;
    left: 68%;
    animation-duration: 28s;
    animation-delay: -152s;
    transform-origin: 3vw -15vh;
    box-shadow: -28vmin 0 4.302866510063062vmin currentColor;
}
.background span:nth-child(22) {
    color: #9400ff;
    top: 50%;
    left: 63%;
    animation-duration: 22s;
    animation-delay: -46s;
    transform-origin: -21vw -23vh;
    box-shadow: -28vmin 0 3.5237283854150365vmin currentColor;
}
.background span:nth-child(23) {
    color: #e4f1ff;
    top: 36%;
    left: 78%;
    animation-duration: 150s;
    animation-delay: -12s;
    transform-origin: 0vw -17vh;
    box-shadow: -28vmin 0 3.7568204520882893vmin currentColor;
}
.background span:nth-child(24) {
    color: #e4f1ff;
    top: 59%;
    left: 35%;
    animation-duration: 74s;
    animation-delay: -55s;
    transform-origin: -9vw 11vh;
    box-shadow: 28vmin 0 3.603087304243483vmin currentColor;
}
.background span:nth-child(25) {
    color: #9400ff;
    top: 36%;
    left: 28%;
    animation-duration: 164s;
    animation-delay: -89s;
    transform-origin: -18vw 17vh;
    box-shadow: 28vmin 0 3.5999203832935773vmin currentColor;
}
.background span:nth-child(26) {
    color: #9400ff;
    top: 31%;
    left: 32%;
    animation-duration: 13s;
    animation-delay: -74s;
    transform-origin: -15vw -6vh;
    box-shadow: 28vmin 0 3.8310599449252543vmin currentColor;
}
.background span:nth-child(27) {
    color: #9400ff;
    top: 74%;
    left: 20%;
    animation-duration: 164s;
    animation-delay: -144s;
    transform-origin: 13vw 19vh;
    box-shadow: -28vmin 0 3.84940734197511vmin currentColor;
}
.background span:nth-child(28) {
    color: #b2d2ff;
    top: 64%;
    left: 76%;
    animation-duration: 157s;
    animation-delay: -67s;
    transform-origin: 9vw -20vh;
    box-shadow: -28vmin 0 4.468206437635862vmin currentColor;
}
.background span:nth-child(29) {
    color: #e4f1ff;
    top: 90%;
    left: 49%;
    animation-duration: 21s;
    animation-delay: -49s;
    transform-origin: -5vw -11vh;
    box-shadow: 28vmin 0 3.9406505040429143vmin currentColor;
}
.background span:nth-child(30) {
    color: #b2d2ff;
    top: 57%;
    left: 52%;
    animation-duration: 20s;
    animation-delay: -42s;
    transform-origin: -7vw 20vh;
    box-shadow: 28vmin 0 3.740190333800167vmin currentColor;
}
.background span:nth-child(31) {
    color: #9400ff;
    top: 70%;
    left: 55%;
    animation-duration: 167s;
    animation-delay: -138s;
    transform-origin: -6vw -6vh;
    box-shadow: 28vmin 0 3.627683653562757vmin currentColor;
}
.background span:nth-child(32) {
    color: #e4f1ff;
    top: 53%;
    left: 76%;
    animation-duration: 131s;
    animation-delay: -73s;
    transform-origin: 24vw 14vh;
    box-shadow: 28vmin 0 3.628407134831603vmin currentColor;
}
.background span:nth-child(33) {
    color: #e4f1ff;
    top: 86%;
    left: 37%;
    animation-duration: 15s;
    animation-delay: -81s;
    transform-origin: -6vw -18vh;
    box-shadow: -28vmin 0 4.286761607535283vmin currentColor;
}
.background span:nth-child(34) {
    color: #e4f1ff;
    top: 75%;
    left: 38%;
    animation-duration: 103s;
    animation-delay: -21s;
    transform-origin: -21vw 1vh;
    box-shadow: -28vmin 0 4.291627330094093vmin currentColor;
}
.background span:nth-child(35) {
    color: #9400ff;
    top: 76%;
    left: 26%;
    animation-duration: 159s;
    animation-delay: -79s;
    transform-origin: 24vw 21vh;
    box-shadow: 28vmin 0 4.367686844008348vmin currentColor;
}
.background span:nth-child(36) {
    color: #b2d2ff;
    top: 33%;
    left: 17%;
    animation-duration: 173s;
    animation-delay: -14s;
    transform-origin: 14vw 24vh;
    box-shadow: -28vmin 0 3.945584811471514vmin currentColor;
}
.background span:nth-child(37) {
    color: #e4f1ff;
    top: 79%;
    left: 98%;
    animation-duration: 120s;
    animation-delay: -162s;
    transform-origin: -14vw 17vh;
    box-shadow: -28vmin 0 3.6491402103863053vmin currentColor;
}
.background span:nth-child(38) {
    color: #b2d2ff;
    top: 72%;
    left: 81%;
    animation-duration: 140s;
    animation-delay: -67s;
    transform-origin: -2vw 21vh;
    box-shadow: 28vmin 0 3.8890389170482687vmin currentColor;
}
.background span:nth-child(39) {
    color: #b2d2ff;
    top: 21%;
    left: 26%;
    animation-duration: 147s;
    animation-delay: -163s;
    transform-origin: -11vw 1vh;
    box-shadow: -28vmin 0 4.2483293409098675vmin currentColor;
}
.background span:nth-child(40) {
    color: #b2d2ff;
    top: 45%;
    left: 47%;
    animation-duration: 104s;
    animation-delay: -156s;
    transform-origin: -24vw -6vh;
    box-shadow: 28vmin 0 3.731168908714987vmin currentColor;
}
.background span:nth-child(41) {
    color: #e4f1ff;
    top: 55%;
    left: 3%;
    animation-duration: 19s;
    animation-delay: -144s;
    transform-origin: -8vw -5vh;
    box-shadow: -28vmin 0 3.994825278622301vmin currentColor;
}
.background span:nth-child(42) {
    color: #9400ff;
    top: 47%;
    left: 88%;
    animation-duration: 83s;
    animation-delay: -108s;
    transform-origin: -3vw -19vh;
    box-shadow: 28vmin 0 4.281567304342654vmin currentColor;
}
.background span:nth-child(43) {
    color: #9400ff;
    top: 21%;
    left: 57%;
    animation-duration: 123s;
    animation-delay: -56s;
    transform-origin: -7vw -20vh;
    box-shadow: 28vmin 0 3.9385836363536875vmin currentColor;
}
.background span:nth-child(44) {
    color: #b2d2ff;
    top: 99%;
    left: 26%;
    animation-duration: 29s;
    animation-delay: -168s;
    transform-origin: 14vw 4vh;
    box-shadow: 28vmin 0 3.9820606929433144vmin currentColor;
}
.background span:nth-child(45) {
    color: #e4f1ff;
    top: 74%;
    left: 34%;
    animation-duration: 36s;
    animation-delay: -170s;
    transform-origin: 9vw 1vh;
    box-shadow: 28vmin 0 3.7406404110979734vmin currentColor;
}
.background span:nth-child(46) {
    color: #b2d2ff;
    top: 14%;
    left: 32%;
    animation-duration: 54s;
    animation-delay: -11s;
    transform-origin: -18vw -9vh;
    box-shadow: -28vmin 0 4.339767637301996vmin currentColor;
}
.background span:nth-child(47) {
    color: #b2d2ff;
    top: 47%;
    left: 71%;
    animation-duration: 53s;
    animation-delay: -45s;
    transform-origin: 24vw -24vh;
    box-shadow: 28vmin 0 4.424224868050724vmin currentColor;
}
.background span:nth-child(48) {
    color: #e4f1ff;
    top: 11%;
    left: 59%;
    animation-duration: 86s;
    animation-delay: -19s;
    transform-origin: 16vw -17vh;
    box-shadow: 28vmin 0 4.473583469058936vmin currentColor;
}
.background span:nth-child(49) {
    color: #e4f1ff;
    top: 74%;
    left: 99%;
    animation-duration: 151s;
    animation-delay: -127s;
    transform-origin: -18vw -12vh;
    box-shadow: -28vmin 0 3.743013187425473vmin currentColor;
}



/* Header and Navigation */
header {
    background: linear-gradient(to bottom, rgba(39, 0, 93, 0.5) 50%, rgba(39, 0, 93, 0));
    padding: 15px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: header-entry 1.2s ease forwards;
}

/* Header Entry Animation */
@keyframes header-entry {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navigation Menu */
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: nav-animation 1s ease-in-out;
}

@keyframes nav-animation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav a {
    color: var(--secondary-bg);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav a:hover {
    background-color: var(--primary-light);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Title */
.title {
    margin-bottom: 150px;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--secondary-light), var(--primary-light));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: scale(0.8);
    text-shadow: 0 10 15px rgba(0, 0, 0, 0.3);
    
    animation: title-entrance 2s ease-in-out forwards;
}

/* Title Entrance Animation */
@keyframes title-entrance {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-50px);
    }
    50% {
        opacity: 0.7;
        transform: scale(1.1) translateY(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    animation: content-slide-up 1.5s ease;
}

@keyframes content-slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns of equal width */
    justify-content: center; /* Centers the grid */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centers the container itself */
}

/* Cards */
.card {
    background: linear-gradient(135deg, #27005dc5, #ff005548); /* Initial gradient */
    background-size: 200% 200%; /* Increase background size for the animation */
    animation: gradient-animation 5s ease infinite; /* Animation for gradient */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    
    height: 210px;
    
    z-index: 3;
}

/* Keyframes for gradient animation */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    50% {
        background-position: 100% 50%; /* Midpoint */
    }
    100% {
        background-position: 0% 50%; /* End position (loop back) */
    }
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.card h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--secondary-bg);
    transition: opacity 0.3s ease;
    letter-spacing: 0.2rem;
}

/* Description and buttons */
.card p,
.card .buttons {
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
    letter-spacing: 0.01em;
}

.card:hover h2 {
    transform: translateY(-120px);
}

.card:hover p {
    transform: translateY(-120px);
    opacity: 1;
    font-weight: bold;
}

.card:hover .buttons {
    transform: translateY(-120px);
    opacity: 1;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(var(--hover-scale));
    background-color: rgba(148, 0, 255, 0.5);
    height: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    margin: 20px;
    height: 300px;
    max-height: 400px;
    overflow: auto;
}

.card:hover img {
    opacity: 0;
}

.card .buttons a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: var(--primary-dark);
    color: white;
    border-radius: 8px;
    transition: background-color 0.6s ease, transform 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.card .buttons a:hover {
    background-color: var(--primary-light);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
    background: linear-gradient(to bottom, rgba(39, 0, 93, 0) 50%, rgba(39, 0, 93, 0.5));
    padding: 200px 20px 20px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: footer-entry 1.2s ease forwards;
    font-weight: bold;
}

.footer-text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, var(--primary-dark), var(--primary-light), var(--secondary-light), var(--secondary-bg));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 2s ease infinite;
}

/* Footer Entry Animation */
@keyframes footer-entry {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Snowflakes Animation */
@keyframes snow {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.snowflake {
    position: absolute;
    top: -50px;
    animation-name: snow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.7;
    color: var(--secondary-bg);
    font-size: 20px;
    z-index: 2;
}

/* Media Queries for Responsiveness */
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    /* Dimensiuni ajustate pentru ecrane de dimensiuni medii */
    .title {
        font-size: 45px;
        margin-bottom: 100px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr); /* Două coloane în loc de patru */
    }

    .card {
        height: auto; /* Eliminăm înălțimea fixă pentru a lăsa cardurile să crească natural */
    }

    .card img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    /* Stiluri pentru dispozitive mici, cum ar fi telefoanele */
    
    .nav {
        flex-direction: column;
    }

    .card-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card {
        margin-left: 10px;
        margin-right: 10px;  
    }

    .title {
        font-size: 35px;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .nav {
        gap: 10px;
        flex-wrap: wrap;
        width: 100%; /* Mărim nav-ul pentru a ocupa lățimea completă */
        height: auto;
        margin: 10px auto;
    }

    .nav a {
        flex: 1 1 100%; /* Lățime completă pentru fiecare link */
        padding: 8px 15px;
        font-size: 14px;
    }

    .card img {
        width: 60px;
        height: 60px;
    }

    .footer-text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    /* Stiluri pentru dispozitive foarte mici, cum ar fi telefoanele mai mici */
    
    .title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .nav {
        width: 100%; /* Asigurăm că ocupă lățimea completă */
    }

    .nav a {
        font-size: 12px; /* Micșorăm textul */
        padding: 7px 10px; /* Ajustăm padding-ul pentru a se potrivi */
    }

    .card img {
        width: 50px;
        height: 50px;
    }

    .footer-text {
        font-size: 14px;
    }
}

