::selection {
    background-color: #c399eb;
    color: #d9d8dc;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
  
  li {
    word-wrap: break-word;
  }
  
  br,
  img {
    user-select: none;
  }
  
  .banner img {
    image-rendering: pixelated;
  }
  
  .banner:hover {
    border-bottom: none;
  }
  
  #mascot img {
    max-width: 350px;
    width: 45vw;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }
  
  a:visited {
    color: #c399eb;
  }
  
  a:visited:hover {
    color: #6200ff;
  }

  footer {
    position: fixed; /* Keep it fixed at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0;
    width: 100%; /* Make it span the entire width */
    background-color: var(--primary-dark); /* Background color */
    padding: 10px 0; /* Padding for better spacing */
    text-align: center; /* Center the text */
    
    z-index: 10;
}

.footer-text {
    background: linear-gradient(270deg, #522258, #8C3061, #9a3cc6, #bb59d9);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 1s ease infinite;
    text-decoration: none;
    font-size: 16px;
    
}

footer i {
    margin: 0 5px; /* Add some spacing between the icons */
}